<mat-card>
<div>
  <ngb-carousel class="carousel carousel-dark slide">
      <ng-template ngbSlide *ngFor="let image of imageInfos | async">
        <div class="picsum-img-wrapper" class="d-flex justify-content-center">
          <img [src]="image.url">
        </div>
      <div class="carousel-caption d-none d-md-block">
        <button mat-button color="primary">{{ image.name }} </button>
        <h3><strong>Your Comment : </strong>{{ image.comment }}</h3>
      </div>
      </ng-template>
  </ngb-carousel>
</div>
</mat-card>
