.mat-input-element {
  font-size: medium;
  font-weight: 200;
}
#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}
.mat-toolbar-single-row button {
  width: 100px;
}
.mat-form-field {
  width: 100%;
}
.message {
  background-color: #ddd;
  padding: 15px;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin: 15px 0;
}
.preview {
  max-width: 200px;
  vertical-align: middle;
}
.list-card {
  margin-top: 20px;
}
.list-item {
  margin-bottom: 20px;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

.preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preview-card {
  margin: 10px;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 300px;
  width: 200px; */
  /* justify-content: space-evenly; */
}

mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

.card-deck-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.card-item {
  padding: 3px 3px 3px 3px;
}

#container-div {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
